<!-- Breadcrumb + tiêu đề -->
<div class="mx-auto my-4 p-4 bg-[#F0F2F4]">


  <div class="bg-white w-[1634px] h-[74px] top-[70px] left-[276px] gap-2 p-2 opacity-100">
    <div class="mb-3">
      <nav aria-label="Breadcrumb" class="text-sm text-gray-500 flex items-center gap-2 whitespace-nowrap">

        <a routerLink="/"
          class="inline-flex items-center justify-center w-6 h-6 rounded hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-500"
          aria-label="Home">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="1.5" class="w-4 h-4 text-gray-500" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
        </a>

        <span aria-hidden="true">›</span>

        <a routerLink="/" class="hover:underline">Primary</a>
        <span aria-hidden="true">›</span>

        <a routerLink="/secondary" class="hover:underline">Secondary</a>
        <span aria-hidden="true">›</span>

        <span class="text-gray-700">Current page</span>
      </nav>


      <h1 class="mt-2 text-xl font-semibold text-gray-800">
        Ghi giảm tài sản cố định
      </h1>
    </div>
  </div>


<div class="overflow-auto bg-white w-[1634px] h-[962px] top-[154px] left-[276px] gap-2 pt-2 pb-2 opacity-100">
    <div class="flex items-center  justify-end gap-2 mb-3">
      <button class="flex items-center justify-center gap-2
               w-[130px] h-[36px]
               pt-2 pr-[14px] pb-2 pl-[14px]
               border border-[#B9000E] rounded-lg
               hover:bg-gray-50 text-red-600
               font-inter font-medium text-sm leading-5
                whitespace-nowrap">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 
             0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 
             0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 
             1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        Nạp dữ liệu
      </button>


      <button class="flex items-center justify-center gap-2 
               w-[67px] h-[36px] 
               pt-2 pr-[14px] pb-2 pl-[14px] 
               border border-[#B9000E] rounded-lg 
               hover:bg-gray-50 text-red-600
               font-inter font-medium text-sm leading-5">

        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M6 9V3h12v6M6 18H4a2 2 0 01-2-2v-5a2 2 0 012-2h16a2 2 0 012 2v5a2 2 0 01-2 2h-2m-2 0H8v3h8v-3z" />
        </svg>
        In
      </button>


      <button class="flex items-center justify-center gap-2 
         w-[80px] h-[36px] 
         pt-2 pr-[14px] pb-2 pl-[14px] 
         border border-[#B9000E] rounded-lg 
         hover:bg-red-50 text-red-600
         font-inter font-medium text-sm leading-5">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
             1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
             1-2.244 2.077H8.084a2.25 2.25 0 0 
             1-2.244-2.077L4.772 5.79m14.456 
             0a48.108 48.108 0 0 0-3.478-.397m-12 
             .562c.34-.059.68-.114 
             1.022-.165m0 0a48.11 48.11 0 0 
             1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
             51.964 0 0 0-3.32 0c-1.18.037-2.09 
             1.022-2.09 2.201v.916m7.5 
             0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
        Xóa
      </button>

      <button (click)="startAdd()" class="flex items-center justify-center 
         w-[115px] h-[36px] 
         p-[10px] gap-[10px] 
         bg-[#B9000E] text-white 
         rounded-lg hover:opacity-90
         font-inter font-medium text-sm leading-5">

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Thêm mới
      </button>


    </div>
    <table  class="min-w-full table-fixed w-[1634px] h-[850px] opacity-100 px-2">
      <thead class="bg-[#F0F2F4]">
        <tr class="text-left text-xs text-[#111827] size-12">
          <th class="px-4 py-2 w-[100px] h-[44px] opacity-100">STT</th>
          <th class="px-4 py-2 w-[194.5px] h-[44px] opacity-100">MÃ CT</th>
          <th class="px-4 py-2 w-[194.5x] h-[44px] opacity-100">NGÀY CT</th>
          <th class="px-4 py-2 w-[194.5x] h-[44px] opacity-100">MÃ TSCD</th>
          <th class="px-4 py-2 w-[776.5x] h-[44px] opacity-100">TÊN TSCD</th>
          <th class="px-4 py-2 w-[154x] h-[44px] opacity-100">THAO TÁC</th>
        </tr>

        <tr class="bg-white text-xs">
          <th class="px-4 py-2"></th>
          <th class="px-4 py-2">
            <input [(ngModel)]="filters.voucherNo" placeholder="Nhập" class="w-full border rounded px-2 py-1 text-xs" />
          </th>
          <th class="px-4 py-2">
            <input [(ngModel)]="filters.voucherDate" type="date" class="w-full border rounded px-2 py-1 text-xs" />
          </th>
          <th class="px-4 py-2">
            <input [(ngModel)]="filters.code" placeholder="Nhập" class="w-full border rounded px-2 py-1 text-xs" />
          </th>
          <th class="px-4 py-2">
            <input [(ngModel)]="filters.name" placeholder="Nhập tên dự toán"
              class="w-full border rounded px-2 py-1 text-xs" />
          </th>
          <th class="px-4 py-2 text-right">
            <button (click)="clearFilters()" class="text-red-500 text-xs">Xóa bộ lọc</button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of pagedRows(); let i = index">
          <td class="w-[100px] h-[62px] opacity-100  border-b-[1px] pt-3 pr-4 pb-3 pl-4">{{ (pageIndex * pageSize) + i + 1 }}</td>
          <td class="w-[194.5px] h-[62px] opacity-100 border-b-[1px] pt-3 pr-4 pb-3 pl-4">{{ row.voucherCode }}</td>
          <td class="w-[194.5px] h-[62px] opacity-100 border-b-[1px] pt-3 pr-4 pb-3 pl-4">{{ row.voucherDate | date:'yyyy-MM-dd' }}</td>
          <td class="w-[194.5px] h-[62px] opacity-100 border-b-[1px] pt-3 pr-4 pb-3 pl-4">{{ row.code }}</td>
          <td class="w-[776.5px] h-[62px] opacity-100 border-b-[1px] pt-3 pr-4 pb-3 pl-4">{{ row.name }}</td>

          <td class="w-[154px] h-[62px] opacity-100 border-b-[1px] gap-2 p-2">
            <div class="flex items-center justify-end gap-3 text-gray-600">
              <button title="Sửa" (click)="$event.stopPropagation();onEdit(row)">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
    stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round"
      d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
  </svg>
</button>

              <button title="Xóa" (click)="$event.stopPropagation(); deleteRow(row.assetFixedId)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>

              </button>
              <button title="Khác"><svg xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Footer phân trang -->
  <div class="flex items-center justify-between text-sm text-gray-600 mt-3">
    <div class="flex items-center gap-2">
      <span>Hiển thị</span>
      <select [(ngModel)]="pageSize" (change)="goFirst()" class="border rounded px-2 py-1">
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>
      </select>
      <span>Tổng: {{ filteredRows.length }} bản ghi</span>
    </div>

    <div class="flex items-center gap-1">
      <button class="px-2 py-1 border rounded" (click)="goFirst()" [disabled]="pageIndex===0">«</button>
      <button class="px-2 py-1 border rounded" (click)="prevPage()" [disabled]="pageIndex===0">‹</button>

      <ng-container *ngFor="let p of pages()">
        <button class="px-3 py-1 border rounded" [class.bg-red-500]="p===pageIndex" [class.text-white]="p===pageIndex"
          (click)="goPage(p)">
          {{ p+1 }}
        </button>
      </ng-container>

      <button class="px-2 py-1 border rounded" (click)="nextPage()" [disabled]="(pageIndex+1)>=totalPages">›</button>
      <button class="px-2 py-1 border rounded" (click)="goLast()" [disabled]="(pageIndex+1)>=totalPages">»</button>
    </div>
  </div>
</div>