<div class="h-screen w-full flex flex-col">
  <header-layout class="shrink-0"></header-layout>
  
  <div class="flex-1 flex">
    <sidebar-layout class="shrink-0"></sidebar-layout>

    <div class="flex-1 min-w-0 flex flex-col">
      <main class="flex-1 min-h-0 overflow-auto">
        <!-- Hiển thị bảng mặc định -->
        <table-data *ngIf="!showAddForm" (showAddForm)="toggleView($event)"></table-data>
        
        <!-- Hiển thị form khi cần -->
        <app-add-voucher *ngIf="showAddForm" (showAddForm)="toggleView($event)"></app-add-voucher>
      </main>
    </div>
  </div>
</div>

